body {
  font-family: sans-serif;
  text-align: center;
}

/* ルーレットを小さく */
#roulette {
  width: 320px;
  height: 320px;
  margin: 20px auto;
  border-radius: 50%;
  border: 3px solid black;
  position: relative;
}

/* 文字を大きく */
.item {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
}

textarea {
  width: 300px;
  height: 120px;
  font-size: 16px;
}
