body {
  font-family: sans-serif;
  text-align: center;
}

#roulette-wrapper {
  position: relative;
  width: 320px;
  margin: 20px auto;
}

/* canvas */
#roulette {
  border-radius: 50%;
  border: 2px solid black;
}

/* 針 */
#pointer {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;

  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid red;
}

textarea {
  width: 300px;
  height: 120px;
}
