body {
  font-family: sans-serif;
}

input {
  padding: 5px;
  margin: 3px;
}

li {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: 5px 0;
}

button {
  cursor: pointer;
}
